{% extends "layout.html" %}
{% block body %}

	<h2>Edit Playset</h2>
	</p>
	{% from "_formhelpers.html" import render_field %}
	<form action="" method=post>
	<dl>
		{{ render_field(form.name) }}  
		{{ render_field(form.description) }}

	<strong>Relationships</strong>

    <dt><strong>Category 1. </strong>: {{ form.rel_head_1(class_="detail_input", size="40") }}</dt>
        <dd>1. {{ form.rel_1_1(class_="detail_input", size="50") }}</dd>
        <dd>2. {{ form.rel_1_2(class_="detail_input", size="50") }}</dd>
        <dd>3. {{ form.rel_1_3(class_="detail_input", size="50") }}</dd>
        <dd>4. {{ form.rel_1_4(class_="detail_input", size="50") }}</dd>
        <dd>5. {{ form.rel_1_5(class_="detail_input", size="50") }}</dd>
        <dd>6. {{ form.rel_1_6(class_="detail_input", size="50") }}</dd>
	<p />
    <dt><strong>Category 2. </strong>{{ form.rel_head_2(class_="detail_input", size="30") }}</dt>
        <dd>1. {{ form.rel_2_1(class_="detail_input", size="30") }}</dd>
        <dd>2. {{ form.rel_2_2(class_="detail_input", size="30") }}</dd>
        <dd>3. {{ form.rel_2_3(class_="detail_input", size="30") }}</dd>
        <dd>4. {{ form.rel_2_4(class_="detail_input", size="30") }}</dd>
        <dd>5. {{ form.rel_2_5(class_="detail_input", size="30") }}</dd>
        <dd>6. {{ form.rel_2_6(class_="detail_input", size="30") }}</dd>
	<p />	
    <dt><strong>Category 3. </strong>{{ form.rel_head_3(class_="detail_input", size="30") }}</dt>
        <dd>1. {{ form.rel_3_1(class_="detail_input", size="30") }}</dd>
        <dd>2. {{ form.rel_3_2(class_="detail_input", size="30") }}</dd>
        <dd>3. {{ form.rel_3_3(class_="detail_input", size="30") }}</dd>
        <dd>4. {{ form.rel_3_4(class_="detail_input", size="30") }}</dd>
        <dd>5. {{ form.rel_3_5(class_="detail_input", size="30") }}</dd>
        <dd>6. {{ form.rel_3_6(class_="detail_input", size="30") }}</dd>
	<p />	
    <dt><strong>Category 4. </strong>{{ form.rel_head_4(class_="detail_input", size="30") }}</dt>
        <dd>1. {{ form.rel_4_1(class_="detail_input", size="30") }}</dd>
        <dd>2. {{ form.rel_4_2(class_="detail_input", size="30") }}</dd>
        <dd>3. {{ form.rel_4_3(class_="detail_input", size="30") }}</dd>
        <dd>4. {{ form.rel_4_4(class_="detail_input", size="30") }}</dd>
        <dd>5. {{ form.rel_4_5(class_="detail_input", size="30") }}</dd>
        <dd>6. {{ form.rel_4_6(class_="detail_input", size="30") }}</dd>
	<p />	
    <dt><strong>Category 5. </strong>{{ form.rel_head_5(class_="detail_input", size="30") }}</dt>
        <dd>1. {{ form.rel_5_1(class_="detail_input", size="30") }}</dd>
        <dd>2. {{ form.rel_5_2(class_="detail_input", size="30") }}</dd>
        <dd>3. {{ form.rel_5_3(class_="detail_input", size="30") }}</dd>
        <dd>4. {{ form.rel_5_4(class_="detail_input", size="30") }}</dd>
        <dd>5. {{ form.rel_5_5(class_="detail_input", size="30") }}</dd>
        <dd>6. {{ form.rel_5_6(class_="detail_input", size="30") }}</dd>
	<p />	
    <dt><strong>Category 6. </strong>{{ form.rel_head_6(class_="detail_input", size="30") }}</dt>
        <dd>1. {{ form.rel_6_1(class_="detail_input", size="30") }}</dd>
        <dd>2. {{ form.rel_6_2(class_="detail_input", size="30") }}</dd>
        <dd>3. {{ form.rel_6_3(class_="detail_input", size="30") }}</dd>
        <dd>4. {{ form.rel_6_4(class_="detail_input", size="30") }}</dd>
        <dd>5. {{ form.rel_6_5(class_="detail_input", size="30") }}</dd>
        <dd>6. {{ form.rel_6_6(class_="detail_input", size="30") }}</dd>

<p><input type=submit value=Save>
	</form>

{% endblock %}
